@import "tailwindcss";
/* biome-ignore lint/suspicious/noUnknownAtRules: <explanation> */
@config "../tailwind.config.js";

/* Smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* Custom styles */
body {
	font-family: "Inter", sans-serif;
}
/* src/index.css */

@font-face {
	font-family: "Scandilover Script";
	src: url("./assets/Font_Family/Scandilover-Script.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Karimun";
	src: url("./assets/Font_Family/karimun.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
  font-family: "Open Sans", sans-serif;
	src: local("Opens Sans");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: "DM Serif Display", serif;
  src: local("DM Serif Display");
	font-weight: normal;
  font-style: normal;
	font-display: swap;
}

